{% extends "main/layout.html" %}

{% block content %}
   <head>

    <style>
    .text-color {
          color: #d754a5;
        }
    .btn-pink{
      background-color:#d754a5;
      color:white;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    </head>

  <body>
  <section class="py-5 text-center">
    <div class="row py-lg-5" style="background-color: #e8dcff;">
      <div class="col p-4 d-flex flex-column position-static align-self-center text-center">
        <h1 class="fw-bold text-color">Ваша запись успешно оформлена!</h1>
        <h6>&nbsp;</h6>
        <p class="lead"><a href="/main/" class="btn btn-pink fw-bold">На главную</a></p>
      </div>
    </div>
  </section>



  </body>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}
