{% extends "main/layout.html" %}

{% block content %}
   <head>

    <style>
    .text-back {
          color: #e8dcff;
        }
    .text-color {
          color: #d754a5;
        }
    .btn-pink{
      background-color:#d754a5;
      color:white;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    </head>

<body>
  <main>
{% load static %}
<section class="py-5">
    <div class="row py-lg-5 text-center" style="background-color: #e8dcff;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold text-color">Запись</h1>
      </div>
    </div>
    <div class="row py-lg-5 text-back" style="background-color: #e8dcff; ">
        <div class="col-lg-8 mx-auto">
             <form method="post" action="order">
                 {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        {{ form.fullname }}
                        <h5>&nbsp;</h5>
                        {{ form.pricelist }}
                        <h5>&nbsp;</h5>
                        {{ form.phone }}
                        <h5>&nbsp;</h5>
                        <div class="form-group">
                            <div class='input-group date text-dark' id='datetimepicker2'>
                                {{ form.data }}
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <h4 class="text-dark">{{ error }}</h4>
                        <h2>&nbsp;</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 text-center align-self-center">
                        <button class="btn btn-pink fw-bold" type="submit">Оформить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



</main>
<script>
    $(function () {
        $('#datetimepicker2').datetimepicker(
        {format: 'YYYY-MM-DD HH:mm:ss', locale: 'ru',
        disabledTimeIntervals: [
        [ moment().hour(0).minutes(0), moment().hour(8).minutes(0) ],
        [ moment().hour(20).minutes(0), moment().hour(24).minutes(0) ]
        ]});
    });
</script>
  </body>

{% endblock %}
